@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 400;
    src:  url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.eot');
    src: local('☺︎'),
          url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff2') format('woff2'),
          url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff') format('woff');
}
@font-face {
    font-family: 'YakuHanJP';
    font-style: normal;
    font-weight: 700;
    src:  url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.eot');
    src: local('☺︎'),
          url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff2') format('woff2'),
          url('https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff') format('woff');
}

@font-face {
    font-family: 'AppleSystem';
    src: local('-apple-system'),
         local('BlinkMacSystemFont');
}
