@font-face {
	font-family: "icon";
	src: url('../fonts/icon.eot');
	src: url('../fonts/icon.eot?#iefix') format('eot'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype'),
		url('../fonts/icon.svg#icon') format('svg');
}

.icon:before {
	font-family: "icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon--type_play:before {
	content: "\F001";
}
