<%- include('../_header') %>
<section class="l-home">
  <header class="l-home__header">
    <h1 class="p-logo">
      <span class="p-logo__description">世界の誰かに写真を届ける</span>
      <img class="p-logo__image" src="/assets/img/logo.svg" alt="balloon">
    </h1>
  </header>
</section>
<div class="p-btn">
  <a href="/timeline/" class="c-btn c-btn--basic">START</a>
</div>
<%- include('../_footer') %>
