<%- include('../_header', {page:'compact'}) %>
<div class="c-camera">
  <div class="c-camera__field"></div>
</div>
<div class="p-btn">
  <a href="/timeline/camera2.html" class="c-btn c-btn--shot"><i class="c-icon c-icon--type_shot"></i></a>
</div>
<%- include('../_footer') %>
