<%- include('../_header', {page:'compact'}) %>
<div class="c-camera js-camera">
  <div class="c-camera__field js-loading is--loading"><img src="https://pbs.twimg.com/profile_images/940991556437213184/LtGJUqRN_400x400.jpg" class="c-camera__photo" alt=""></div>
</div>
<div class="p-btn">
  <a href="/timeline/camera3.html" class="c-btn c-btn--shot is--loading js-btn"><i class="c-icon c-icon--type_shot"></i></a>
</div>
<script>
var btn = document.querySelector('.js-btn');
var photo = document.querySelector('.js-loading');
var camera_success = function(){
  photo.classList.add('is--success');
  btn.classList.add('is--success');
}
setTimeout(camera_success, 3000);

var camera = document.querySelector('.js-camera');
var balloon = function(){
  camera.classList.add('is--push');
}
setTimeout(balloon, 4000);

var redirect = function(){
  location.href = "/timeline/posted.html";
}
setTimeout(redirect, 7000);
</script>
<%- include('../_footer') %>
